/* body{
    background-color: deepskyblue;
}
h1{
    text-align: center;
    font-size: 60px;

}
.flexContenedor > div{
    width: 400px;
    height: 400px;
}
h1,p{
    text-aling: center;
}
p{
    color: black;
}

*/
:root{
    --violeta : #412688;
    --rojo : #ad1124;
    --naranja :  #f6232f;
    --dicord : #758add;
    --boutique : #ef9c0e;
}

body{
    background-color: var(--naranja);
}
h1{
    margin-top: 0;
}


.colorUno {
    background-color: #ad1124;
}
.colorDos{
    background-color: #f6232f;
}
.colorTres{
    background-color: #412688;
}

.encabezado{
    background-color: #ad1124;
    font-size: 60px;
    text-align: center;
    color: white;
}
.flexContenedor{
    display: flex;
    

}

.divIzquierdo{

    width: 40%;
    

}
.divDerecho{

    width: 50%;
    background-color: var(--violeta);
    color: white;
    font-size: 40px;
    text-align: center;
    height: 700px;

}
.tipoLetraUno{

    font-size: 20px;

}
.tipoLetraDos{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.negrilla{
    font-weight: bold;
}
.bottonDiscord{
    background-color: var(--dicord) ;
    font-family: 'Courier New', Courier, monospace;
    font-family: 50px;
    color: white;
    border-radius: 16px;
    
    
    
}
.bottonBoutique{
    background-color: var(--boutique);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 16px;

}
.imgDiscord{
    width: 20px;
    height: 10px;

}
.bottonDiscord:hover{
    background-color: #5767f3;

}
.bottonBoutique:hover{
    background-color: #fa8d20;
}
